	@media (max-width:641px)  { 
		/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
		.backgroundImg{
			background: #29313C; 
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("../images/PayDay-Investor-(Login-Page)_bg.jpg")
			;
			background-attachment: fixed!important;

		}
		.w3-container{
			padding: 0.00em 0px!important;
			margin: 0px!important; 
			text-align: center!important
		}
		.w3-half{
			width:100%!important;
		}
		.mobileBlock{
			display: block;
			padding: 0px!important;
			margin:0px!important
		}
		
		.w3-display-middle{
			
		}
		.height-cover{
			height: -webkit-fill-available;
		}
		.font-family-montserrat{
			font-family: 'Montserrat', sans-serif;
		}
		.customized-input{
			padding-left: 40px!important;
			height: auto!important;
			text-align: left!important;
		}
		.font-medium{
			font-size: 15px;
		}
		.font-small{
			font-size: 10px;
		}
		.font-large{
			font-size: 15px;
		}
		.pdy-green{
			background: #2CB34A!important;
			color:#fff!important;
		}
		.pdy-padding{
			padding: 8px!important;
		}
		.pdy-padding-bottom-md{
			padding-bottom: 30px!important;
		}
		.pdy-padding-left-ex{
			padding-left:20px!important                
		}
		.pdy-padding-right-ex{
			padding-right:20px!important
		}
		.pdy-border{
			border:2px solid white;
		}
		.pdy-logo{
			width: 100px !important;
			
		}
		input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
			background-color: transparent !important;
			background-image: none !important;
			color: white!important
		}
		.forgot-password{
			right: 0px !important;
			position: absolute;
			margin-bottom: 40px;
		}
		.pdy-mod-input{
			/* border-right: 2px solid white !important; */
			padding-left:3px;
			width: 100%!important;
		}
		.pd-reg-button{
			width: 97% !important;
			
			padding-top: 10px!important;
			padding-bottom: 10px!important;
		}
		.pdy-input{
			width: 100%!important;
			padding-left:0px
		}
		.zero-margin{
			padding-right: 15px;
		}
	}
	@media (min-width:642px)  { 
		/* tablet, landscape iPad, lo-res laptops ands desktops */ 
		.backgroundImg{
			background: #29313C; 
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed!important;

			background-image: url("../images/PayDay-Investor-(Login-Page)_bg.jpg")
			;
		}
		.height-cover{
			height: -webkit-fill-available;
		}
		.font-family-montserrat{
			font-family: 'Montserrat', sans-serif;
		}
		.customized-input{
			padding-left: 40px!important;
			height: auto!important;
			text-align: left!important;
		}
		.font-medium{
			font-size:1.5vw!important;
		}
		.font-small{
			font-size:1.0vw!important;
		}
		.font-large{
			font-size:3.0vw!important;
		}
		.pdy-green{
			background: #2CB34A!important;
			color:#fff!important;
		}
		.pdy-padding{
			padding: 20px!important;
		}
		.pdy-padding-bottom-md{
			padding-bottom: 30px!important;
		}
		.pdy-padding-left-ex{
			padding-left:50px!important                
		}
		.pdy-padding-right-ex{
			padding-right:50px!important
		}
		.pdy-border{
			border:4px solid white;
		}
		.pdy-logo{
			width: 130px !important;
		}
		input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
			background-color: transparent !important;
			background-image: none !important;
			color: white!important
		}
		.forgot-password{
			right: 0px !important;
			position: absolute;
			margin-bottom: 40px;
		}
	   
		.pdy-mod-input{
			border-right: 2px solid white !important;
			padding-left:3px
		}
		.pd-reg-button{
			width: 100% !important;
			margin-left: 30px!important;
			padding-top: 10px!important;
			padding-bottom: 10px!important;
		}
		.pdy-input{
			padding-left:10px 
		}
	}
	.w3-button{
		color:white!important;
	}
 
	.fa{
		display: inline!important;
		position: absolute!important;
		color: white!important;
		font-size: 22px!important;
		margin-top: 8px;
				
	}
	select,option{
		background: transparent!important;
		color: #354357!important
	}